#aula1{
	align-content: center;
    text-align: center;
}

#aula2{
	align-content: center;
    text-align: center;
    margin-top:2%;
}

#aula3{
	align-content: center;
    text-align: center;
    margin-top:2%;
}

#aula4{
	align-content: center;
    text-align: center;
    margin-top:2%;
}